body {
    
    width: 100%;
}
.img-header{
    font-size: 20px;
        color: white;
        position: relative;
        left: 50px;
        top: 10px;
        width: 60px;
        height: 60px;
    
}


.h3-header{
   position: absolute;
    left: 300px;
    top: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Gill Sans", sans-serif;
}
.h4-header{
    position: absolute;
    left: 500px;
    top: 26px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Gill Sans", sans-serif;
}

.h5-header{
    position: absolute;
    left: 700px;
    top: 26px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Gill Sans", sans-serif;
}

.text-header2 {
    text-align: center;
    position: absolute;
    right: 200px ;
    
    
    color: white;
    

    
}
header{
position: fixed;
font-family: 'Inter';
width: 100%;
height: 80px;
background: #344866;
display: flex;
flex-direction: row;
justify-content: space-between;
z-index: 100;
top: 0px;
transition: transform 0.2s ease-in-out;
box-sizing: border-box;

}

header.hidden{
    transform: translateY(-100%);


}
main{

    position: relative;
    width: 100%;
    height: 3200px;
    top: 30px;
    background-color: #59606B;
    
    }

.img-main{
    position: absolute;
    width: 100%;
    height: 800px;
    background: linear-gradient(to right, #000000ee, rgba(0, 0, 0, 0.267)), url("1-bmw-3-series.jpg") ;
    background-position: center;
    background-size: cover;

}

.img-main2{
    position: absolute;
    width: 100%;
    height: 800px;
    top: 1000px;
    background: linear-gradient(to right, #000000ee, rgba(0, 0, 0, 0.4)), url("https://www.bmw.by/content/dam/bmw/common/all-models/m-series/m4-coupe/2022/Highlights/bmw-4-series-coupe-m-automobiles-mc-product-highlights-m4-csl-hero-desktop.jpg.asset.1651068753808.jpg") ;
    background-position: center;
    background-size: cover;
   
}
.img-main3{
    position: absolute;
    width: 100%;
    height: 900px;
    top: 2000px;
    
    background: linear-gradient(to right, #000000ee, rgba(0, 0, 0, 0.4)), url("https://www.bmw-m.com/content/dam/bmw/marketBMW_M/www_bmw-m_com/topics/magazine-article-pool/2017/bmw-m5-f90/bmw-m5-f90-stage-02.jpg") ;
    background-position: center;
    background-size: cover;

}



@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }

  body, html {
    margin: 0;
    padding: 0;
    
}

.text-main{
    position: absolute;
    font-size: 45px;
    
    top: 100px;
    left: 100px;
    width: 700px;
    color: aliceblue;
    
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;


}

.h1-main{
    position: absolute;
    font-size: 60px;
    
    top: 1100px;
    left: 130px;
    width: 800px;
    color: aliceblue;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;

}
.h1-main3{
    position: absolute;
    font-size: 50px;
    
    top: 2100px;
    left: 130px;
    width: 800px;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;





}
.h2-main3{
    position: absolute;
    font-size: 30px;
    
    top: 2300px;
    left: 130px;
   width: 1000px;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;





}
.h2-main2{
    position: absolute;
    font-size: 30px;

    top: 1300px;
    left: 130px;
    width: 1000px;
    color: aliceblue;
    

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;








}
.h2-main{
    position: absolute;
    font-size: 30px;
    
    top: 300px;
    left: 100px;
    width: 1000px;
    color: aliceblue;






    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;


}


.img-mini{
    position: absolute;
    top: 1100px;
    width: 100px;
    height: 100px;
    left: 400px;
}

.link-h2{
    position: absolute;
    top: 1200px;
    width: 100px;
    height: 100px;
    left: 405px;
    font-family: system-ui;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.img-mini2{
    position: absolute;
    top: 1100px;
    width: 100px;
    height: 100px;
    left: 750px;
}

.link2-h2{
    position: absolute;
    top: 1200px;
    width: 100px;
    height: 100px;
    left: 755px;
    font-family: system-ui;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer{
    
    background: #344866;
    position: relative;
    width: 100%;
    height: 70px;
    bottom: 0px;
}

.insta{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 10px;
}
.telegram{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 250px;
    top: 15px;
}
.wacap{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 500px;
    top: 15px;
}
.instagram{
    position: absolute;
    color: #ffffff;
    
    top: 10px;
    left: 60px;
}

.telegrame{
    position: absolute;
    color: #ffffff;
    
    top: 10px;
    left: 300px;
}
.wacape{
    position: absolute;
    color: #ffffff;
    font-size: 20px ;
    top: 5px;
    left: 550px;
}
@media (orientation: portrait),(min-width: 320px){
    .img-main{
        position: absolute;
    width: 100%;
    height: 800px;
    }
}
.main3{
   
}
